* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 15px;
    font-weight: 500;
    text-decoration: solid;
}

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid;
    margin-bottom: 20px;
}

.logo {
    font-size: 2rem;
    font-family: Impact;
    font-weight: bold;
    color: rgb(10, 0, 86);
    padding-left: 0.4rem;
}

.navigation ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: #183A1D;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

.navigation a.active,
.navigation a:hover {
    background-color: lightblue;
    transition: 1.5s;
}

.footer {
    bottom: 0px;
    margin-top: 10px;
    width: 100%;
    padding: 60px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

.footer div {
    text-align: center;
}

.footer div h3 {
    font-style: 'Popins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
    color: rgb(255, 202, 202);
    text-decoration: none;
}